<table class="table">
    <thead>
        <th>#</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user["id"] %></td>
                <td><%= user["name"]["firstname"] %>
                <td><%= user["name"]["lastname"] %></td>
                <td><%= user["email"] %>
            </tr>
        <% end %>
    </tbody>
</table>